<header><h1>Sin ing</h1></header>
<div class="container-login">
   <form id="login">
      <div class="row">
         <label>User Name</label>
         <input type="text"  class="form-control" id="txtEmail" required>
      </div>
      <br>
      <div class="row">
         <label>Password</label>
         <input type="password" class="form-control" id="txtPassword" required>
      </div>
      <br>
      <div class="container-btn">
         <a href="#" class="btn btn-warning ">
         SIGN IN
        </a>
      </div>
      <!-- <div class="row" >
         <label class="float-center" style="color: red;">Usuario o Password incorrecto.</label>
      </div> -->
   </form>
</div>